.container-fluid {
    /* background-image: url("image_back.png"); */
    background-size: contain;
    /* background-color: rgb(241, 241, 182); */
    height: 100vmax;
} 
.box {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vmax;
    width: 100vmax;
    /* background-position: ; */
} 
.text-center {
    color: white;
}
section {
    height: 400px;
}
/* .row {
    color: white;
}  */